In [1]:
import pandas as pd
import os

# Establecer el directorio de trabajo
os.chdir("/Users/bautistagoulu/Desktop/Big Data")

# Cargar el archivo Excel
df = pd.read_excel("Tabla_acortadaFINAL.xlsx")

# Verificamos que se cargó bien
print(df.head())

                          CODUSU  ANO4 TRIMESTRE  NRO_HOGAR COMPONENTE H15  \
0  TQRMNOSYUHKNKMCDEIGED00856897  2024         1          1          1   1
1  TQRMNOSYUHKNKMCDEIGED00856897  2024         1          1          2   1
2  TQRMNORTVHLOKQCDEIMBF00855868  2024         1          1          1   1
3  TQRMNORTVHLOKQCDEIMBF00855868  2024         1          1          2   1
4  TQRMNORSXHMLLOCDEIMBF00802814  2024         1          1          1   1

  REGION MAS_500 AGLOMERADO  PONDERA  ... IDECCFR RDECCFR GDECCFR PDECCFR  \
0     43       N         30      159  ...       7       7     NaN     8.0
1     43       N         30      159  ...       7       7     NaN     8.0
2     43       N         36      138  ...       3       3     NaN     4.0
3     43       N         36      138  ...       3       3     NaN     4.0
4     43       N         36      149  ...      10      10     NaN    10.0

  ADECCFR PONDIH PJ1_1 PJ2_1 PJ3_1 IDIMPP
0       6  231.0   NaN   NaN   NaN    NaN
1       6  231.0   NaN   NaN   NaN    NaN
2       3  144.0   NaN   NaN   NaN    NaN
3       3  144.0   NaN   NaN   NaN    NaN
4      10  194.0   NaN   NaN   NaN    NaN

[5 rows x 181 columns]

In [5]:
# Ver qué valores únicos hay en CH07
print(df["CH07"].unique())

# Limpiamos el texto: pasamos a string, sacamos espacios, pasamos a minúsculas
df["CH07"] = df["CH07"].astype(str).str.strip().str.lower()

# Reemplazamos los textos por números
df["CH07"] = df["CH07"].replace({
    'casado': 1,
    'soltero': 2,
    'separado': 3,
    'viudo': 4,
    'unido': 5
})

# Convertimos a número entero (con soporte para NaN si hubiera valores vacíos)
df["CH07"] = pd.to_numeric(df["CH07"], errors="coerce").astype("Int64")

# Verificamos
print(df[["CH07"]].tail(10))

[ 5.  2.  4.  1.  3. nan]
      CH07
4873     2
4874     2
4875     2
4876     2
4877     1
4878     1
4879     2
4880     2
4881     2
4882     2

In [9]:
# Seguimos con la columna de NIVEL_ED

#Asegurarnos de que la columna NIVEL_ED sea de tipo string antes de hacer el reemplazo
df['NIVEL_ED'] = df['NIVEL_ED'].astype(str)

# Reemplazar los valores de NIVEL_ED de 2004 (texto) a valores numéricos
df['NIVEL_ED'] = df['NIVEL_ED'].replace({
    'Primaria Incompleta (incluye educación especial)': 1,
    'Primaria completa': 2,
    'Secundaria Incompleta': 3,
    'Secundaria Completa': 4,
    'Superior Universitaria Incompleta': 5,
    'Superior Universitaria Completa': 6,
    'Sin instrucción': 7,
    'Ns/Nr': 9
})

# Convertir los valores a numérico, forzando los errores a NaN
df['NIVEL_ED'] = pd.to_numeric(df['NIVEL_ED'], errors='coerce')

# Llenar los NaN (si los hay) con un valor adecuado (por ejemplo, 1 o el valor adecuado)
df['NIVEL_ED'] = df['NIVEL_ED'].fillna(1).astype(int)

# Verificamos la homogenización
print(df[['NIVEL_ED']].tail())

      NIVEL_ED
4878         1
4879         3
4880         1
4881         1
4882         5

In [13]:
#ITEM D
# Arranquemos con la variable CH04 (sexo)

import numpy as np

# Asegurarnos de que la columna CH04 sea de tipo string antes de hacer el reemplazo
df['CH04'] = df['CH04'].astype(str)

# Reemplazar los valores de CH04 de 2004 (texto) a valores numéricos
df['CH04'] = df['CH04'].replace({
    'Varón': 1,
    'Mujer': 2
})

# Convertir los valores a numéricos (eliminando cualquier valor no numérico)
df['CH04'] = pd.to_numeric(df['CH04'], errors='coerce')  # Coerce convierte valores no numéricos a NaN

# Convertir los valores de CH04 a enteros (y manejar los NaN)
df['CH04'] = df['CH04'].fillna(1).astype(int)  # Llenamos NaN con 1 (o el valor adecuado) y luego convertimos a int

# Verificamos la homogenización
print(df[['CH04']].tail(12))

      CH04
4871     2
4872     1
4873     2
4874     1
4875     1
4876     1
4877     1
4878     2
4879     2
4880     2
4881     2
4882     2

In [15]:
#En la columna CH006 cuando la edad esta entre 0 y 1, en 2024 aparece -1, y en 2004 dice "Menos de 1 año", homogenizemos para que diga -1
# Asegurarnos de que la columna CH06 sea de tipo string antes de hacer el reemplazo
df['CH06'] = df['CH06'].astype(str)

# Reemplazar "Menos de 1 año" por -1 en 2004
df['CH06'] = df['CH06'].replace({
    'Menos de 1 año': -1
})

# Convertir los valores a numérico, forzando los errores a NaN
df['CH06'] = pd.to_numeric(df['CH06'], errors='coerce')

# Llenar los NaN (si los hay) con un valor adecuado (por ejemplo, 0 o el valor adecuado)
df['CH06'] = df['CH06'].fillna(-1).astype(int)

# Verificamos la homogenización
print(df[['CH06']].tail())

      CH06
4878    37
4879    16
4880    13
4881     6
4882    19

In [17]:
#Lo mismo para variable CH08 (Cobertura medica)
# Asegurarnos de que la columna CH08 sea de tipo string antes de hacer el reemplazo
df['CH08'] = df['CH08'].astype(str)

# Reemplazar los valores de CH08 de 2004 (texto) a valores numéricos
df['CH08'] = df['CH08'].replace({
    'Obra social (incluye PAMI)': 1,
    'Mutual / prepaga / servicio de emergencia': 2,
    'Planes y seguros públicos': 3,
    'No paga ni le descuentan': 4,
    'Ns/Nr': 9,
    'Obra social y mutual / prepaga / servicio de emergencia': 12,
    'Obra social y planes y seguros públicos': 13,
    'Mutual / prepaga / servicio de emergencia / Planes y seguros públicos': 23,
    'Obra social, mutual / prepaga / servicio de emergencia y planes y seguros públicos': 123
})

# Convertir los valores a numérico, forzando los errores a NaN
df['CH08'] = pd.to_numeric(df['CH08'], errors='coerce')

# Llenar los NaN (si los hay) con un valor adecuado (por ejemplo, 1)
df['CH08'] = df['CH08'].fillna(1).astype(int)

# Verificamos la homogenización
print(df[['CH08']].tail())

      CH08
4878     4
4879     3
4880     3
4881     3
4882     3

In [19]:
#Seguimos con la variable ESTADO

# Asegurarnos de que la columna ESTADO sea de tipo string antes de hacer el reemplazo
df['ESTADO'] = df['ESTADO'].astype(str)

# Reemplazar los valores de ESTADO de 2004 (texto) a valores numéricos
df['ESTADO'] = df['ESTADO'].replace({
    'Entrevista individual no realizada (no respuesta al cuestionario individual)': 0,
    'Ocupado': 1,
    'Desocupado': 2,
    'Inactivo': 3,
    'Menor de 10 años': 4
})

# Convertir los valores a numérico, forzando los errores a NaN
df['ESTADO'] = pd.to_numeric(df['ESTADO'], errors='coerce')

# Llenar los NaN (si los hay) con un valor adecuado (por ejemplo, 0)
df['ESTADO'] = df['ESTADO'].fillna(0).astype(int)

# Verificamos la homogenización
print(df[['ESTADO']].tail())

      ESTADO
4878       3
4879       3
4880       3
4881       4
4882       3

In [23]:
#Seguimos con la variable CAT_INAC 

# Asegurarnos de que la columna CAT_INAC sea de tipo string antes de hacer el reemplazo
df['CAT_INAC'] = df['CAT_INAC'].astype(str)

# Reemplazar los valores de CAT_INAC de 2004 (texto) a valores numéricos
df['CAT_INAC'] = df['CAT_INAC'].replace({
    'Patrón': 1,
    'Cuenta propia': 2,
    'Obrero o empleado': 3,
    'Trabajador familiar sin remuneración': 4,
    'Ns/Nr': 9
})

# Convertir los valores a numérico, forzando los errores a NaN
df['CAT_INAC'] = pd.to_numeric(df['CAT_INAC'], errors='coerce')

# Llenar los NaN (si los hay) con un valor adecuado (por ejemplo, 1 o el valor adecuado)
df['CAT_INAC'] = df['CAT_INAC'].fillna(1).astype(int)

# Verificamos la homogenización
print(df[['CAT_INAC']].tail(15))

      CAT_INAC
4868         1
4869         1
4870         0
4871         0
4872         1
4873         1
4874         1
4875         0
4876         0
4877         0
4878         1
4879         1
4880         1
4881         1
4882         1

In [27]:
#Seguimos con CAT_OCUP (OCUPACION)

# Asegurarnos de que la columna CAT_OCUP sea de tipo string antes de hacer el reemplazo
df['CAT_OCUP'] = df['CAT_OCUP'].astype(str)

# Reemplazar los valores de CAT_OCUP de 2004 (texto) a valores numéricos
df['CAT_OCUP'] = df['CAT_OCUP'].replace({
    'Patrón': 1,
    'Cuenta propia': 2,
    'Obrero o empleado': 3,
    'Trabajador familiar sin remuneración': 4,
    'Ns/Nr': 9  # Reemplazar Ns/Nr por 9
})

# Reemplazar los valores 0 por 9 (ya que 0 representa Ns/Nr)
df['CAT_OCUP'] = df['CAT_OCUP'].replace({'0': 9})

# Convertir los valores a numérico, forzando los errores a NaN
df['CAT_OCUP'] = pd.to_numeric(df['CAT_OCUP'], errors='coerce')

# Llenar los NaN (si los hay) con un valor adecuado (por ejemplo, 1 o el valor adecuado)
df['CAT_OCUP'] = df['CAT_OCUP'].fillna(1).astype(int)

# Verificamos la homogenización
print(df[['CAT_OCUP']].tail(12))

      CAT_OCUP
4871         3
4872         9
4873         9
4874         9
4875         3
4876         3
4877         3
4878         9
4879         9
4880         9
4881         9
4882         9

In [31]:
#Vamos a limpiar las columnas PP02C1 hasta PP02C6 y hacer que los valores "SI" se reemplacen por 1 y "NO" se reemplacen por 2:

# Lista de columnas de PP02C1 hasta PP02C6
cols_to_clean = ['PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6']

# Iterar sobre cada columna y reemplazar "SI" por 1 y "NO" por 2
for col in cols_to_clean:
    df[col] = df[col].replace({'SI': 1, 'NO': 2})
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Convertir a numérico y forzar errores a NaN
    df[col] = df[col].fillna(2).astype(int)  # Llenar NaN con 2 (o el valor adecuado) y convertir a entero

# Verificamos la limpieza
print(df[cols_to_clean].tail(12))

      PP02C1  PP02C2  PP02C3  PP02C4  PP02C5  PP02C6
4871       2       2       2       2       2       2
4872       0       0       0       0       0       0
4873       0       0       0       0       0       0
4874       0       0       0       0       0       0
4875       2       2       2       2       2       2
4876       0       0       0       0       0       0
4877       0       0       0       0       0       0
4878       0       0       0       0       0       0
4879       0       0       0       0       0       0
4880       0       0       0       0       0       0
4881       0       0       0       0       0       0
4882       0       0       0       0       0       0

In [35]:
#La variable CH14 presenta algunos problemas. Vamos a limpiarla:

#Los valores 0 a 9 se convertirán en 01 a 09 respectivamente (ya que los datos de 2024 no tienen el 0 antes del numero)
df['CH14'] = pd.to_numeric(df['CH14'], errors='coerce')
df['CH14'] = df['CH14'].apply(lambda x: f'{int(x):02d}' if pd.notnull(x) and 0 <= x < 10 else x)

#Los valores faltantes o NaN serán reemplazados por 99 (equivalente a Ns/Nr). Ya que la tabla 2004 no tiene la opcion de Ns/Nr, y hay datos faltantes.
df['CH14'] = df['CH14'].fillna(99)

In [47]:
import numpy as np
import pandas as pd

# Aseguramos que las columnas estén en formato numérico compatible con np.where
df["CH07"] = pd.to_numeric(df["CH07"], errors="coerce")
df["CH08"] = pd.to_numeric(df["CH08"], errors="coerce")
df["NIVEL_ED"] = pd.to_numeric(df["NIVEL_ED"], errors="coerce")
df["ESTADO"] = pd.to_numeric(df["ESTADO"], errors="coerce")
df["CAT_INAC"] = pd.to_numeric(df["CAT_INAC"], errors="coerce")
df["CAT_OCUP"] = pd.to_numeric(df["CAT_OCUP"], errors="coerce")
# CH14 queda como string (por ejemplo: '01', '02', etc.)

# Lista de columnas dummy
dummy_column_names = []

# CH07 (Estado civil)
dummy_column_names += [
    ('dummy_casado', np.where(df['CH07'].fillna(-999) == 1, 1, 0)),
    ('dummy_soltero', np.where(df['CH07'].fillna(-999) == 2, 1, 0)),
    ('dummy_separado', np.where(df['CH07'].fillna(-999) == 3, 1, 0)),
    ('dummy_viudo', np.where(df['CH07'].fillna(-999) == 4, 1, 0)),
    ('dummy_unido', np.where(df['CH07'].fillna(-999) == 5, 1, 0)),
]



# CH08 (Cobertura médica)
dummy_column_names += [
    ('dummy_obra_social', np.where(df['CH08'] == 1, 1, 0)),
    ('dummy_mutual', np.where(df['CH08'] == 2, 1, 0)),
    ('dummy_planes_publicos', np.where(df['CH08'] == 3, 1, 0)),
    ('dummy_no_paga', np.where(df['CH08'] == 4, 1, 0)),
    ('dummy_ns_nr_ch08', np.where(df['CH08'] == 9, 1, 0)),
    ('dummy_obra_social_mutual', np.where(df['CH08'] == 12, 1, 0)),
    ('dummy_obra_social_planes', np.where(df['CH08'] == 13, 1, 0)),
    ('dummy_mutual_planes', np.where(df['CH08'] == 23, 1, 0)),
    ('dummy_obra_social_mutual_planes', np.where(df['CH08'] == 123, 1, 0)),
]

# NIVEL_ED (Nivel educativo)
dummy_column_names += [
    ('dummy_primario_incompleto', np.where(df['NIVEL_ED'] == 1, 1, 0)),
    ('dummy_primario_completo', np.where(df['NIVEL_ED'] == 2, 1, 0)),
    ('dummy_secundario_incompleto', np.where(df['NIVEL_ED'] == 3, 1, 0)),
    ('dummy_secundario_completo', np.where(df['NIVEL_ED'] == 4, 1, 0)),
    ('dummy_superior_incompleto', np.where(df['NIVEL_ED'] == 5, 1, 0)),
    ('dummy_superior_completo', np.where(df['NIVEL_ED'] == 6, 1, 0)),
    ('dummy_sin_instruccion', np.where(df['NIVEL_ED'] == 7, 1, 0)),
    ('dummy_ns_nr_nivel', np.where(df['NIVEL_ED'] == 9, 1, 0)),
]

# ESTADO (Condición de actividad)
dummy_column_names += [
    ('dummy_ocupado', np.where(df['ESTADO'] == 1, 1, 0)),
    ('dummy_desocupado', np.where(df['ESTADO'] == 2, 1, 0)),
    ('dummy_inactivo', np.where(df['ESTADO'] == 3, 1, 0)),
    ('dummy_menor_10', np.where(df['ESTADO'] == 4, 1, 0)),
]

# CAT_INAC (Condición de inactividad)
dummy_column_names += [
    ('dummy_patron', np.where(df['CAT_INAC'] == 1, 1, 0)),
    ('dummy_cuenta_propia', np.where(df['CAT_INAC'] == 2, 1, 0)),
    ('dummy_obrero', np.where(df['CAT_INAC'] == 3, 1, 0)),
    ('dummy_trabajador_familiar', np.where(df['CAT_INAC'] == 4, 1, 0)),
    ('dummy_ns_nr_inac', np.where(df['CAT_INAC'] == 9, 1, 0)),
]

# CAT_OCUP (Categoría ocupacional)
dummy_column_names += [
    ('dummy_patron_ocup', np.where(df['CAT_OCUP'] == 1, 1, 0)),
    ('dummy_cuenta_propia_ocup', np.where(df['CAT_OCUP'] == 2, 1, 0)),
    ('dummy_obrero_ocup', np.where(df['CAT_OCUP'] == 3, 1, 0)),
    ('dummy_trabajador_familiar_ocup', np.where(df['CAT_OCUP'] == 4, 1, 0)),
    ('dummy_ns_nr_ocup', np.where(df['CAT_OCUP'] == 9, 1, 0)),
]

# CH14 (año de cursado más alto aprobado, en texto tipo '01', '02', etc.)
dummy_column_names += [
    ('dummy_ninguno', np.where(df['CH14'] == '00', 1, 0)),
    ('dummy_primero', np.where(df['CH14'] == '01', 1, 0)),
    ('dummy_segundo', np.where(df['CH14'] == '02', 1, 0)),
    ('dummy_tercero', np.where(df['CH14'] == '03', 1, 0)),
    ('dummy_cuarto', np.where(df['CH14'] == '04', 1, 0)),
    ('dummy_quinto', np.where(df['CH14'] == '05', 1, 0)),
    ('dummy_sexto', np.where(df['CH14'] == '06', 1, 0)),
    ('dummy_septimo', np.where(df['CH14'] == '07', 1, 0)),
    ('dummy_octavo', np.where(df['CH14'] == '08', 1, 0)),
    ('dummy_noveno', np.where(df['CH14'] == '09', 1, 0)),
    ('dummy_educacion_especial', np.where(df['CH14'] == '98', 1, 0)),
    ('dummy_ns_nr_ch14', np.where(df['CH14'] == '99', 1, 0)),
]

# Agregamos todas las nuevas columnas al DataFrame
for col_name, dummy_data in dummy_column_names:
    df[col_name] = dummy_data

# Guardar el DataFrame actualizado
df.to_excel("df_dummies_final2.xlsx", index=False)

# Verificamos
print(df.head())

                          CODUSU  ANO4 TRIMESTRE  NRO_HOGAR COMPONENTE H15  \
0  TQRMNOSYUHKNKMCDEIGED00856897  2024         1          1          1   1
1  TQRMNOSYUHKNKMCDEIGED00856897  2024         1          1          2   1
2  TQRMNORTVHLOKQCDEIMBF00855868  2024         1          1          1   1
3  TQRMNORTVHLOKQCDEIMBF00855868  2024         1          1          2   1
4  TQRMNORSXHMLLOCDEIMBF00802814  2024         1          1          1   1

  REGION MAS_500 AGLOMERADO  PONDERA  ... dummy_segundo  dummy_tercero  \
0     43       N         30      159  ...             1              0
1     43       N         30      159  ...             0              0
2     43       N         36      138  ...             0              0
3     43       N         36      138  ...             0              1
4     43       N         36      149  ...             0              0

  dummy_cuarto  dummy_quinto  dummy_sexto  dummy_septimo dummy_octavo  \
0            0             0            0              0            0
1            0             0            0              0            0
2            0             0            0              0            0
3            0             0            0              0            0
4            0             0            0              0            0

  dummy_noveno dummy_educacion_especial dummy_ns_nr_ch14
0            0                        0                0
1            0                        0                0
2            0                        0                0
3            0                        0                0
4            0                        0                0

[5 rows x 229 columns]

In [51]:
#Ejercicio 6
# Ver cuántas personas no respondieron (suponemos que ESTADO=0 significa no respuesta)
norespondieron = df[df['ESTADO'] == 0]
print("Cantidad de personas que no respondieron:", len(norespondieron))

# Guardar quienes sí respondieron
respondieron = df[df['ESTADO'] != 0]

# (opcional) Verificás tamaños
print("Cantidad que respondieron:", len(respondieron))

Cantidad de personas que no respondieron: 2
Cantidad que respondieron: 4881

In [55]:
#Ejercicio 7

# Agregar la columna "PEA"
# Consideramos PEA (Población Económicamente Activa) a aquellos con ESTADO 1 (ocupados) o 2 (desocupados)
respondieron.loc[:, 'PEA'] = respondieron['ESTADO'].apply(lambda x: 1 if x in [1, 2] else 0)

# Guardar la base respondieron con la nueva columna "PEA"
respondieron.to_excel('respondieron2.xlsx', index=False)

# Verificar los datos en la base respondieron
print("Datos en la base respondieron:\n", respondieron.head())

Datos en la base respondieron:
                           CODUSU  ANO4 TRIMESTRE  NRO_HOGAR COMPONENTE H15  \
0  TQRMNOSYUHKNKMCDEIGED00856897  2024         1          1          1   1
1  TQRMNOSYUHKNKMCDEIGED00856897  2024         1          1          2   1
2  TQRMNORTVHLOKQCDEIMBF00855868  2024         1          1          1   1
3  TQRMNORTVHLOKQCDEIMBF00855868  2024         1          1          2   1
4  TQRMNORSXHMLLOCDEIMBF00802814  2024         1          1          1   1

  REGION MAS_500 AGLOMERADO  PONDERA  ... dummy_tercero  dummy_cuarto  \
0     43       N         30      159  ...             0             0
1     43       N         30      159  ...             0             0
2     43       N         36      138  ...             0             0
3     43       N         36      138  ...             1             0
4     43       N         36      149  ...             0             0

  dummy_quinto  dummy_sexto  dummy_septimo  dummy_octavo dummy_noveno  \
0            0            0              0             0            0
1            0            0              0             0            0
2            0            0              0             0            0
3            0            0              0             0            0
4            0            0              0             0            0

  dummy_educacion_especial dummy_ns_nr_ch14 PEA
0                        0                0   1
1                        0                0   1
2                        0                0   0
3                        0                0   1
4                        0                0   0

[5 rows x 230 columns]